<div class="align-items-center">
  <div class="grid">
    <div class="col pt-3">
      <button
        id="start-btn"
        pRipple
        pButton
        type="button"
        label="Iniciar sesión con Google"
        (click)="login()"
        icon="pi pi-google"
        class="p-button-raised p-button-text"
      ></button>
    </div>
  </div>

  <div class="grid">
    <div class="col pt-3">
      <button
        id="start-btn"
        pRipple
        pButton
        type="button"
        label="Iniciar sesión como Invitado"
        (click)="anonymous()"
        icon="pi pi-user"
        class="p-button-raised p-button-text"
      ></button>
    </div>
  </div>
</div>
