<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<!-- ======================= INFO TIMER ============================= -->
<pomodoro-info
  [pomodoros]="pomodoros"
  [pomodorosCompleted]="pomodorosCompleted"
  [isTaskAdded]="isTaskAdded"
  [taskNameValue]="taskNameValue"
></pomodoro-info>
<!-- ======================= FIN INFO TIMER ============================= -->

<!-- ======================= FORM TASK ============================= -->
<task-form [isTaskAdded]="isTaskAdded" (addPomodoro)="addPomodoro($event)"></task-form>
<!-- ======================= FIN FORM TASK ============================= -->

<!-- ======================= DISPLAY TIMER ============================= -->
<pomodoro-timer
  [displaySeconds]="displaySeconds"
  [displayMinutes]="displayMinutes"
  [isOnBreak]="isOnBreak"
  [isOnCreate]="isOnCreate"
></pomodoro-timer>
<!-- ======================= FIN DISPLAY TIMER ============================= -->

<!-- =================== BOTONES =================================== -->
<div *ngIf="!isOnCreate && isReset" class="grid align-items-center">
  <div class="col md:col field grid">
    <button
      [disabled]="!isTaskAdded"
      id="start-btn"
      pRipple
      pButton
      type="button"
      label="Iniciar"
      (click)="startTimer()"
      class="p-button-raised p-button-text"
    ></button>
  </div>
  <div class="col md:col field grid">
    <button
      [disabled]="!isTaskAdded"
      id="pause-btn"
      pButton
      type="button"
      label="Pausar"
      (click)="pauseTimer()"
      class="p-button-secondary p-button-raised p-button-text"
    ></button>
  </div>
  <div class="col md:col field grid">
    <button
      [disabled]="!isTaskAdded"
      id="pause-btn"
      pButton
      type="button"
      label="Siguiente"
      (click)="confirmationAction('nextPomodoro')"
      class="p-button-success p-button-raised p-button-text"
    ></button>
  </div>
  <div class="col md:col field grid">
    <button
      id="pause-btn"
      pButton
      type="button"
      label="Detener"
      (click)="confirmationAction('stopTimer')"
      class="p-button-danger p-button-raised p-button-text"
    ></button>
  </div>
</div>
<!-- =================== FIN BOTONES =================================== -->
